# requirements.txt

# Dùng để gọi API của ml_service (HTTP/JSON)
requests~=2.32.5

# Dùng để xử lý dữ liệu
pandas~=2.3.3

# Dùng để kết nối SQL Server
sqlalchemy~=2.0.44
pyodbc

# Dùng để load biến môi trường
python-dotenv~=1.2.1

# THƯ VIỆN LẬP LỊCH (Sửa dòng này)
schedule